@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 45, 41, 38; /* Soft Charcoal */
  --background-start-rgb: 253, 252, 248; /* Eggshell */
  --background-end-rgb: 253, 252, 248;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-font-smoothing: antialiased;
}