@import "tailwindcss";

@theme {
  /* This maps your Google Fonts variables to Tailwind classes */
  --font-sans: var(--font-sans);
  --serif: var(--font-serif);

  /* This sets our 'Family' color palette */
  --color-linen: #FDFCF8;
  --color-charcoal: #2D2926;
  --color-taupe: #A69F92;
}

/* Base Styles */
@layer base {
  body {
    @apply bg-linen text-charcoal antialiased font-sans;
  }

  h1, h2, h3, .font-serif {
    @apply font-[serif] italic;
  }
}